<!DOCTYPE html>
<html lang="en">
<head>
    <title>DecryptText</title>
    <meta charset="UTF-8">

        {% load staticfiles %}
        {% load compress %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'decCode.js' %}">
    $('#dencryptText').on('submit', function(){
    decrypt();})
    </script>
    {% endcompress %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\rollups\aes.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\rollups\tripledes.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\rollups\rabbit.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\rollups\rc4.js' %}"></script>

    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\core.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\enc-base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\enc-utf16.js' %}"></script>

    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\mode-cfb.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\mode-ctr.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\mode-ecb.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\mode-ofb.js' %}"></script>

    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\pad-nopadding.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\pad-ansix923.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\pad-iso10126.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\pad-iso97971.js' %}"></script>
    <script type="text/javascript" src="{% static 'CryptoJS_v3.1.2\components\pad-zeropadding.js' %}"></script>

</head>
<link rel='stylesheet' href="/static/css/base.css"/>
<body>
<div id="mainbody">
    <div id="title"><h1>Decrypt Text Area</h1></div>

    <div id="welcome">
    <ul>   <h3> Welcome {{ user.username }} </h3> </ul>
    <a href="/users" class="button">Home</a>
    <a href="/users/encrypt/" class="button">Ecrypt text</a>
    <a href="/users/upload" class="button">Upload File</a>
    <a href="/users/decryptfile" class="button">Decrypt File</a>
    <a href="/users/messages" class="button">Store Messages</a>
    <a href="/users/instructions" class="button">Guide page</a>
    <a href="/accounts/logout/" class="button">Signout</a></ul></div>


<div id = "frmTextDecrypt">
<form id="decryptText" action="" method="get">{% csrf_token %}
    <p><label>Secret: </label>
    <input id="secret" value="Secret Passphrase" type="password" required></p>
    <p><label>Message: </label>
        <textarea id="textbox" cols="50" rows="10" value="{{ msgid }}" style="resize: none;"></textarea></p>

    <label>Algorithm: </label>
    <select id="decalgorithm">
    <option selected="selected">AES</option>
    <option>3DES</option>
    <option>DES</option>
    <option>RABBIT</option>
    <option>RC4</option>
    </select>

        <label>Mode: </label>
    <select id="decoption">
        <option selected="selected">CBC</option>
        <option>CFB</option>
        <option>CTR</option>
        <option>ECB</option>
        <option>OFB</option>
    </select>

        <label>Padding: </label>
    <select id="decpadoption">
        <option selected="selected">Pkcs7</option>
        <option>AnsiX923</option>
        <option>Iso97971</option>
        <option>Iso10126</option>
        <option>NoPadding</option>
        <option>ZeroPadding</option>
    </select><br>

    <p><input id="submit" type="button" onclick="decrypt()" value="Decrypt"></p>
</form>
</div><br>


<label>Output</label><br>
<div id="output"></div><br>
</div>
</body>
</html>