<link rel='stylesheet' href="/static/css/base.css"/>
{% load i18n %}

<title>Password reset</title>

<div id="mainbody">
  <h3>Please provide your email address</h3>

  <div id="welcome">

  <ul><ul><br><br><a href="/accounts/register" class="button">Register</a>
                <a href="/accounts/login" class="button">Signin</a></ul></ul></ul>
  </div>

  <ul>
{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
    {% endblock %}</ul>
</div>